/**
 * Typography
 *
 * Font sizing, spacing, link styles etc.
 */
body {
    font-family: Helvetica, sans-serif;
}

strong {
    font-weight: bold;
}

ul {
    list-style-type:disc;
    margin-left: 2em;
}

img {
    border: 10px #ddd solid;
}

/* Headers */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 1em;
    font-family: "Arvo", serif;
    color: #333;
}

h1 {
    font-size: 3em;
    color:#99f;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
}

ul#nav {
    font-size: 0.8em;
}

p, blockquote, ol, dl, ul, pre, img, table {
    margin-bottom: 1em;
    color: #333;
    line-height: 1.4em;
}

/* Links */

a {
    text-decoration: none;
    color: #009;
}

a:hover {
    text-decoration: underline;
}

div#footer {
    text-align: right;
    font-size: 0.6em;
}
